@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /*google fonts api*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color options:
  Cornflower blue: #6495ED
  Dark Gray: #A9A9A9
  CORNSILK: #FFF8DC
  dARK cYAN #008B8B

*/
body {
  background-color: #008B8A;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y:auto;
  overflow-x: hidden;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border: 3px solid gold;
}


footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

button {
  border: 2px solid orange;
  color: black;
  padding: 10px 20px;
}

button:hover{
  background-color: gray;
  color: black;
}

.hide {
  position:absolute;
  top:-1px;
  left:-1px;
  width:1px;
  height:1px;
  }/*style for itembase target to be hidden*/

.one{
  background-color: gold; /*  amother color convention available hsla(250,75%,72%,0.75);*/
  font-size: 20px;
  padding: 20px;
  border: none;
  border-radius: 50%;

  animation-name: first;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#img{
  max-width: 100%;
  height: 100%;
}

.p {
  font-size: 2vh;
  padding: 5px;
}

.h1{
  justify-content: center;
  align-items: center;
}

#scrollToTopBtn {
  position: static;
  bottom: 15px;
  background-color: orange;
  border: none;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
}

#two{
  background-color: #008B8B;
  border: 3px solid gray;
  padding: 20px;
}

#one{
  background-color: black;
  border: 3px solid ##FFF8DC;

  animation-name: second;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#default{
  background-color: white;
}

#data {
  width: 100%;
  border: 1px dashed black;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
}

#chuck {
  margin: 0 auto;
}


/* animations */
@keyframes first {
  0%{
    background-color: gray;
  }
  25%{
    background-color: blue;
  }
  50%{
    background-color: red;
  }
  75%{
    background-color: green;
  }
  100%{
    background-color: white;
  }
}

@keyframes second { /* shades of red */
  0%{
    background-color: #ffb3b3;
  }
  25%{
    background-color:#ff9999;
  }
  50%{
    background-color: #ff6666;
  }
  75%{
    background-color: #ff3333;
  }
  100%{
    background-color: #ff1a1a;
  }
}

textarea{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 90%;
  width: 100%;
  padding: 10px;
}

/* star style*/
.checked {
  color: orange;
}

/* containers for divs and more*/
.card-container {
  display:flex;
  flex:1;
  flex-wrap: wrap;
  min-width: 10%;
  max-width: 100%;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.flex-container {
  display:flex;
  overflow-x: auto;
  flex:1;
  flex-wrap: wrap;
  width: 100%;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color: lightblue;
}

.flex-container-attention {
  display:flex;
  overflow-x: auto;
  flex: 1;
  width: 100%;
  border-radius: 150px;
  flex-direction:column;


}

.flex-container2 {
  display:flex;
  flex:1;
  flex-wrap: wrap;
  width: 100%;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.flex-container-grid1 {
  display:grid;
  grid-template-columns: 50% 50%;
  overflow-y: auto;
  overflow-x: auto;
  flex:1;
  flex-wrap: wrap;
  width: 100%;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}

.flex-container-grid2 {
  display:grid;
  grid-template-columns: 10% 40% 40% 10%;
  overflow-y: auto;
  overflow-x: auto;
  flex:1;
  flex-wrap: wrap;
  width: 100%;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}

.flex-container4 {
  display:flex;
  overflow-x: auto;
  flex:1;
  flex-wrap: wrap;
  width: 100%;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color: #008C8C;
}

.flex-container5{
  padding: 10px;
  display:flex;
  flex:1;

  justify-content:center;
  align-items:center;

}

.flex-container6 {
  display:flex;
  overflow-x: auto;
  flex:1;
  flex-wrap: wrap;
  width: 100%;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color: lightblue;
}

.link-container {
  display:flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex:1;
  flex-wrap: wrap;
  width: 100%;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color: lightblue;
  background-image: linear-gradient(gray 0%, #A9A9A9 100%);
  border: 2px solid black;
}

.formIn-container{
  display:flex;
  overflow-x: auto;
  flex:1;
  flex-wrap: wrap;
  width: 100%;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color: lightblue;
  border: 2px solid darkblue;

}
.flex-container2 > div {
  background-color: #f1f1f1;
  margin: 0px;
  padding: 0px;
  font-size: 30px;
}

/* Navigation bar */
.topnav {
  position: sticky;
  top:0px;
  display: flex;
  flex:1;
  overflow: hidden;
  background-color: green; /* #333 */
  z-index: 1; /* this makes the sticky postition not get overlapped by something like flip tiles */
}
.topnav a {
        float: left;
        color: black;
        background-color: aqua;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
        /* width: 95%;  this make the bars flex "wrap"*/
      }
      .topnav a:hover {
        background-color: gray;
        color: black;
      }
      .topnav a.active {
        background-color: #4CAF50 ; /* #4CAF50 */
        color: black;
      }


/* flip cards */
      .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
        margin: 0 15px 30px;
      }

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;

      }

      .flip-card:hover .flip-card-inner{
        transform: rotateY(180deg);
      }

      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden; /*-- default for safari browser --*/
        display: flex;
        justify-content: center;
        flex-direction:column;
        align-items: center;
        object-fit: contain;
        border-radius: 10px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

      }

      .flip-card-back {
        color: red;
        background-color: white;
        transform:  rotateY(180deg);
      }


      .flip-card-front {
        background-color: #bbb;
      }



      .flip-card-back > p {
         margin-top: 10px;
         line-height: 1.6;
      }

      .flip-card-back p span{
        display: block;
        font-size: 1rem;
        font-weight: bolder;
        margin: 1.25rem;
      }
